.nav {
    color: var(--color-neutral-100);
    background-color: var(--color-primary-500);
}

.navItems {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    min-height: 4rem;
}

.navItem {
    font-weight: 500;
}

@media only screen and (max-width: 29.99em) {
    .navItem {
        flex-grow: 1;
    }
    
    .navItem > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }
}

@media only screen and (min-width: 30em) {
    .navItem:first-child {
        margin-right: auto;
    }

    .navItem svg {
        margin-right: 0.5rem;
    }
}
